.ThankSelectedDiv{
    width: 193px;
    height: 32px;
    border-radius: 22.5px;
    background-color: #262E38;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.ThankSelectedDiv p{
    font-family: Overpass;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #FC7614;
    margin: 0;
}
@media screen and (max-width:440px) {
    .ThankSelectedDiv{
        width: 168px;
        height: 32px;
    }
    .ThankSelectedDiv p{
        font-family: Overpass;
        font-size: 14px;
        font-weight: 400;
    }
}